$lightGrayCyan: hsl(180, 52%, 96%);
$lightGrayishCyan: hsl(180, 31%, 95%);
$darkGrayishCyan: hsl(180, 8%, 52%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);
$desaturatedDarkCyan: hsl(180, 29%, 50%);
.job {
  &__header {
    position: relative;
  }
  &__image {
    background: $desaturatedDarkCyan;
    img {
      height: auto;
      max-width: 100%;
    }
  }
  &__filter {
    position: relative;
    top: -2.5em;
    margin: 0 1.5em;
    padding: 0.5em 1.2em;
    box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background: white;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
  #jobFilter {
    border: 0;
    padding: 1em 0;
    li {
      position: relative;
      padding-right: calc(0.75em + 1.5em);
      overflow: hidden;
    }
  }
  &__removeCategory {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5em;
    height: 100%;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background: $desaturatedDarkCyan;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  &__clearFilter {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.4;
    outline: none;
    &:active,
    &:hover {
      color: $desaturatedDarkCyan;
    }
  }
  &__listItem {
    font-size: 0.9rem;
    height: calc(100vh / 2.5);
    @include displayFlex(column, flex-start, flex-start);
    gap: 1.5em;
    position: relative;
    margin: 5em 1.5em;
    padding: 2.5em 1.2em 1.5em;
    border-radius: 6px;
    background: white;
    box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.1);
  }
  &--featured {
    border-left: 6px solid $desaturatedDarkCyan;
  }
  &__logo {
    position: absolute;
    top: -1.5em;
    width: 3em;
    img {
      height: auto;
      width: 100%;
    }
  }
  &__special {
    @include displayFlex(row, flex-start, center);
    gap: 1em;
  }
  &__company {
    font-weight: 700;
  }
  &__new,
  &__featured {
    text-transform: uppercase;
    padding: 0.5em 0.75em;
    border-radius: 1em;
    color: white;
    font-weight: 700;
  }
  &__new {
    background: $desaturatedDarkCyan;
  }
  &__featured {
    background: $veryDarkGrayishCyan;
  }
  &__position {
    font-size: 1rem;
    color: black;
  }
  &__details {
    @include displayFlex(row, flex-start, center);
    gap: 1.5em;
    color: black;
    opacity: 0.4;
    li {
      &:first-child {
        list-style-type: none;
      }
      list-style-type: disc;
    }
  }
  &__categories,
  &__skills {
    justify-self: end;
    width: 100%;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    @include displayFlex(row, flex-start, center);
    gap: 1em;
    flex-wrap: wrap;
    padding: 1.5em 0;
    width: 90%;
    li {
      background: $lightGrayCyan;
      padding: 0.5em 0.75em;
      cursor: pointer;
      border-radius: 6px;
    }
  }
}
